<a href="https://colab.research.google.com/github/icdath95/DATA-analyst/blob/main/%EC%95%BC%EA%B5%AC%EC%84%A0%EC%88%98_%EC%9B%94%EB%B3%84_%EB%B6%84%EC%84%9D_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# 2019년 선수별 / 경기별 기록 데이터 불러오기

import pandas as pd

file = '/content/KBO_2019_player_gamestats.csv'

raw = pd.read_csv(file, encoding = 'cp949')

raw.head()

    팀     이름          생일     일자  상대  ...    OPS  투구  avLI  RE24    WPA
0  두산  페르난데스  1988-04-27  03-23  한화  ...  1.250  19  1.98  1.65  0.429
1  두산  페르난데스  1988-04-27  03-24  한화  ...  0.833   4  0.77 -0.36 -0.038
2  두산  페르난데스  1988-04-27  03-26  키움  ...  0.775  16  1.56  0.98  0.146
3  두산  페르난데스  1988-04-27  03-27  키움  ...  1.000  11  1.53  1.29  0.189
4  두산  페르난데스  1988-04-27  03-28  키움  ...  0.874  23  2.04 -0.30 -0.166

[5 rows x 34 columns]

In [5]:
raw.columns

Index(['팀', '이름', '생일', '일자', '상대', '결과', '타순', 'P', '선발', '타수', '득점', '안타',
       '2타', '3타', '홈런', '루타', '타점', '도루', '도실', '볼넷', '사구', '고4', '삼진', '병살',
       '희타', '희비', '타율', '출루', '장타', 'OPS', '투구', 'avLI', 'RE24', 'WPA'],
      dtype='object')

In [8]:
# '일자' 컬럼에서 월에 해당하는 값만 선택하여 '월 컬럼 추가
# 시리즈에서 반복문을 통해 하나씩 계산/ 점검을 진행

month_list = []
for monthdate in raw['일자']:

  month = monthdate.split('-')[0]
  month_list.append(month)

raw['월']=month_list

In [9]:
raw.head()

    팀     이름          생일     일자  상대      결과  ...    OPS  투구  avLI  RE24    WPA   월
0  두산  페르난데스  1988-04-27  03-23  한화   W 5:4  ...  1.250  19  1.98  1.65  0.429  03
1  두산  페르난데스  1988-04-27  03-24  한화  L 1:11  ...  0.833   4  0.77 -0.36 -0.038  03
2  두산  페르난데스  1988-04-27  03-26  키움   W 7:2  ...  0.775  16  1.56  0.98  0.146  03
3  두산  페르난데스  1988-04-27  03-27  키움   W 3:2  ...  1.000  11  1.53  1.29  0.189  03
4  두산  페르난데스  1988-04-27  03-28  키움   L 4:5  ...  0.874  23  2.04 -0.30 -0.166  03

[5 rows x 35 columns]

In [10]:
# 분석에 활용할 컬럼만 선택

columns_select = ['팀', '이름', '생일','일자', '상대','타수','안타','홈런', '루타', '타점','볼넷', '사구', '희비', '월']
data = raw[columns_select]

data.head(
  
)

    팀     이름          생일     일자  상대  타수  안타  홈런  루타  타점  볼넷  사구  희비   월
0  두산  페르난데스  1988-04-27  03-23  한화   4   2   0   3   3   0   0   0  03
1  두산  페르난데스  1988-04-27  03-24  한화   2   0   0   0   0   0   0   0  03
2  두산  페르난데스  1988-04-27  03-26  키움   2   0   0   0   1   2   0   0  03
3  두산  페르난데스  1988-04-27  03-27  키움   4   3   0   3   1   0   0   0  03
4  두산  페르난데스  1988-04-27  03-28  키움   3   0   0   0   0   2   0   0  03

In [12]:
# 피벗 테이블 이용해 월별 실적 집계
# file_value = 0 옵션을 이용해 데이터가 비었을 경우 0을 입력

data_player_month = data.pivot_table(index = ['팀', '이름', '생일','월'],
                 values = ['타수','안타','홈런', '루타', '타점','볼넷', '사구', '희비'],
                 aggfunc = 'sum')

data_player_month.head()

                       루타  볼넷  사구  안타  타수  타점  홈런  희비
팀   이름  생일         월
KIA 고영창 1989-02-24 04   0   0   0   0   0   0   0   0
    김선빈 1989-12-18 03   5   4   0   3  18   0   0   0
                   04  17   3   0  13  44   6   0   0
                   05  31  10   0  24  82  10   1   2
                   06  29   8   1  24  81   8   1   0

In [13]:
data_player_month.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1261 entries, ('KIA', '고영창', '1989-02-24', '04') to ('한화', '호잉', '1989-05-18', '09')
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   루타      1261 non-null   int64
 1   볼넷      1261 non-null   int64
 2   사구      1261 non-null   int64
 3   안타      1261 non-null   int64
 4   타수      1261 non-null   int64
 5   타점      1261 non-null   int64
 6   홈런      1261 non-null   int64
 7   희비      1261 non-null   int64
dtypes: int64(8)
memory usage: 91.0+ KB

In [15]:
data_player_month = data_player_month.reset_index()
data_player_month.head()

   index    팀   이름          생일   월  루타  볼넷  사구  안타  타수  타점  홈런  희비
0      0  KIA  고영창  1989-02-24  04   0   0   0   0   0   0   0   0
1      1  KIA  김선빈  1989-12-18  03   5   4   0   3  18   0   0   0
2      2  KIA  김선빈  1989-12-18  04  17   3   0  13  44   6   0   0
3      3  KIA  김선빈  1989-12-18  05  31  10   0  24  82  10   1   2
4      4  KIA  김선빈  1989-12-18  06  29   8   1  24  81   8   1   0

In [16]:
 # 데이터프레임에 포함된 타자의 타율/출루율/장타율/OPS 데이터를 정리하는 함수입니다. 
def cal_hit(df):
    '''
    - 타율 : 공을 쳐서 나가는 비율 --> 안타 / 타수
    - 출루율: 진루해서 나가는 비율 -->  (안타+볼넷+몸에맞는볼)/(타수+볼넷+몸에맞는볼+희생플라이)
    - 장타율 : 타율에 진루한 베이스 가중치 추가 -->   루타 / 타수
    '''
    
    df['타율'] = df['안타'] / df['타수']
    df['출루율'] = (df['안타'] + df['볼넷'] + df['사구']) / (df['타수'] + df['사구'] + df['희비'])
    df['장타율'] = df['루타'] / df['타수']
    df['OPS'] = df['출루율'] + df['장타율']
    return df

In [21]:
player_month_stat = cal_hit(data_player_month)
player_month_stat.head()
#비어있는 항목 버리는 함수
player_month_stat = player_month_stat.dropna()

In [23]:
# 월별 출루율 정리
# index = 팀, 이름, 생일 컬럼 = 월 values=출루율

month_pivot = player_month_stat.pivot_table(index = ['팀', '이름', '생일'],
                              values = '출루율',
                              columns = '월')

month_pivot.head()

월                         03        04        05  ...        08        09  10
팀   이름  생일                                        ...
KIA 김선빈 1989-12-18  0.388889  0.363636  0.404762  ...  0.351648  0.414634 NaN
    김주찬 1981-03-25  0.272727  0.245283  0.375000  ...  0.405063  0.333333 NaN
    나지완 1985-05-19  0.379310  0.379310  0.218750  ...       NaN       NaN NaN
    류승현 1997-07-01  0.000000  0.420000  0.321429  ...       NaN  0.277778 NaN
    문경찬 1992-07-08  0.000000       NaN       NaN  ...       NaN       NaN NaN

[5 rows x 8 columns]

### KBO 출루율 최고타자 데이터 불러오기

이전에 정리한 선수별 시즌 출루율 기록을 불러오고, 가장 실적이 좋은 타자들의 월별 출루율을 비교

In [1]:
# 시즌별 타자 실적 데이터 불러오기

!pip install unidecode
import unidecode

from google.colab import drive
drive.mount('/content/drive/MyDrive/Colab Notebooks/야구데이터 활용 타자 비교분석.ipynb')

Collecting unidecode
  Downloading Unidecode-1.2.0-py2.py3-none-any.whl (241 kB)
     |████████████████████████████████| 241 kB 4.4 MB/s
Installing collected packages: unidecode
Successfully installed unidecode-1.2.0

ValueError: ignored