<a href="https://colab.research.google.com/github/icdath95/DATA-analyst/blob/sub/%EC%97%AC%EB%9F%AC%EA%B0%9C%EC%9D%98_%EC%97%91%EC%85%80%ED%8C%8C%EC%9D%BC_%ED%86%B5%ED%95%A9_%EC%A0%95%EB%A6%AC%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 이 사람들 다 어디로 가는거지?
## 지하철 이용현황 공공데이터 분석

In [2]:
#엑셀 파일 통합하기

# 내 컴퓨터 파일 조회하기
# 반복문을 통한 파일 열기 / 병합하기
# 일자/요일 데이터 정리하기
# 저장하기

In [3]:
import pandas as pd

In [5]:
file = '/home/CARD_SUBWAY_MONTH_201901.csv'

raw = pd.read_csv(file)

raw.head()

       사용일자  노선명   역ID   역명  승차총승객수  하차총승객수      등록일자
0  20190101  경춘선  1323   가평    1520    1436  20190104
1  20190101  경춘선  1322   상천     275     114  20190104
2  20190101  경춘선  1321   청평    1509    1083  20190104
3  20190101  경춘선  1320  대성리     357     271  20190104
4  20190101  경춘선  1319   마석    1772    1963  20190104

In [6]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18334 entries, 0 to 18333
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    18334 non-null  int64
 1   노선명     18334 non-null  object
 2   역ID     18334 non-null  int64
 3   역명      18334 non-null  object
 4   승차총승객수  18334 non-null  int64
 5   하차총승객수  18334 non-null  int64
 6   등록일자    18334 non-null  int64
dtypes: int64(5), object(2)
memory usage: 1002.8+ KB

## 참고) 판다스로 파일 읽어오기

데이터 파일 읽기: read_excel / read_csv
pd.read_excel('파일경로+파일명.xlsx')

pd.read_csv('파일경로+파일명.csv', encoding = 'utf-8')

pd.read_csv('파일경로+파일명.csv', encoding = 'cp949') # MS 엑셀에서 저장한 경우

#자주 사용하는 옵션
pd.read_excel('파일경로', 옵션1 = 값1, 옵션2 = 값2 ....)

옵션 종류

index_col = 컬럼인덱스번호 # 몇번째 컬럼을 인덱스로 지정할 것인지 선택

header = row인덱스번호 # 몇번째 row 부터 표 데이터로 볼 것인지 선택
thousands = ',' # 천 단위 기호
 , 사용 --> xxx,xxx 문자가 아닌 숫자로 인식
참고 https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

In [8]:
#이번에 여러파일을 불러오기
# 2개 파일 불러와서 합치기

raw = pd.DataFrame()

file1 = '/home/CARD_SUBWAY_MONTH_201901.csv'
file2 = "/home/CARD_SUBWAY_MONTH_201902.csv"

temp = pd.read_csv(file1)
raw.append(temp)

temp = pd.read_csv(file2)
raw= raw.append(temp)

In [9]:
# ? 폴더에 있는 모든 파일을 불러와서 병합할 수 있을까?

# 폴더/파일을 관리하는 os 라이브러리를 불러옵니다.

import os

In [10]:
# os.listir()을 이용해 rawfiles 폴더에 있는 파일 리스트를 살펴봄
dirpath = "/home/"
files = os.listdir(dirpath)
files

['CARD_SUBWAY_MONTH_201904.csv',
 'CARD_SUBWAY_MONTH_201906.csv',
 'CARD_SUBWAY_MONTH_201902.csv',
 'CARD_SUBWAY_MONTH_201905.csv',
 'CARD_SUBWAY_MONTH_201903.csv',
 'CARD_SUBWAY_MONTH_201901.csv']

In [13]:
# 여러개의 파일을 병합

# 합치는 방법

# 1. 빈 데이터 프레임을 준비
raw = pd.DataFrame()

# 반복문 -> csv 파일 읽기 -> 데이터프레임에 추가하기.
for file in files:
  #print(dirpath + file)
  temp = pd.read_csv(dirpath + file)
  raw = raw.append(temp)  #append는 원본데이터에 한번 넣어봄? 느낌 꼭 앞에 =로 저장해줘야햄
  #raw = raw.append(temp, ignore_index = True)   ignore_index = True  --> 기존 인덱스는 무시하고
raw.tail()

           사용일자  노선명  역ID    역명  승차총승객수  하차총승객수      등록일자
18329  20190131  1호선  155   동대문   14563   15139  20190203
18330  20190131  1호선  154  종로5가   30249   29703  20190203
18331  20190131  1호선  153  종로3가   36804   35050  20190203
18332  20190131  1호선  152    종각   51970   50080  20190203
18333  20190131  1호선  151    시청   29059   29169  20190203

In [12]:
raw.info()
# 위에처럼 자료들을 합치게 되면 index번호가 새로 부여되는게 아니라
# 원래 파일에 들어있던 인덱스 번호를 그대로 사용하게 됨
# 그래서 info에 행이 99342개로 나와도, tail에선 18333이 마지막 숫자야
# 결론적으로는 합치고 인덱스 번호 새로 부여(reset)하자!!

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99342 entries, 0 to 18333
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    99342 non-null  int64
 1   노선명     99342 non-null  object
 2   역ID     99342 non-null  int64
 3   역명      99342 non-null  object
 4   승차총승객수  99342 non-null  int64
 5   하차총승객수  99342 non-null  int64
 6   등록일자    99342 non-null  int64
dtypes: int64(5), object(2)
memory usage: 6.1+ MB

In [15]:
raw = raw.reset_index(drop = True) # 기존 인덱스 초기화는 drop으로 버려줌
raw.tail()
# 함수 명령어 / 옵션 살펴보기 -> shift + tab

       index      사용일자  노선명  역ID    역명  승차총승객수  하차총승객수      등록일자
99337  18329  20190131  1호선  155   동대문   14563   15139  20190203
99338  18330  20190131  1호선  154  종로5가   30249   29703  20190203
99339  18331  20190131  1호선  153  종로3가   36804   35050  20190203
99340  18332  20190131  1호선  152    종각   51970   50080  20190203
99341  18333  20190131  1호선  151    시청   29059   29169  20190203

## Q. 요일을 추가해보자!

In [16]:
#일시를 관리하는 datetime 라이브러리를 불러오기

from datetime import datetime

datetime.strptime('날짜str', `str형태`)  : 문자 --> 날짜 타입

- `str형태` %Y-%m-%d %H:%M:%S
    - %Y : 연도(4자리)
    - %m:  월(2자리)
    - %d:  일자(2자리)
    
    - %H : 시간
    - %M : 분
    - %S : 초

In [18]:
# datetime.strptime()을 이용해 str타입을 날짜 타입으로 변경
# dtaetime.strptime('날짜str', 형태)
# ex)

s = '2019-01-05'
datetime.strptime(s, "%Y-%m-%d")#d이후에 시 분 초 추가 가능
# 민테 2019는 년, 1=월, 5=날, 0=시, 0=분 을 뜻함

datetime.datetime(2019, 1, 5, 0, 0)

In [21]:
# 날짜 타입을 요일로 변경하기 위해서는 weekday() 를 사용합니다. 
# 월요일 : 0 ~ 일요일 : 6

s = '20190629'
date = datetime.strptime(s, '%Y%m%d')
date

weekday_dict = ['월', '화', '수', '목', '금', '토', '일']
weekday_index = date.weekday()
print(weekday_index)
print(weekday_dict[weekday_index])

5
토